<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%A2%D0%B5%D0%BF%D0%BB%D0%B8%D1%86%D0%B0/3.%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%BF%D0%BE%D0%B8%D1%81%D0%BA.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

Источник: Кинопоиск 23.12.2018

Данные собрал: [Андрей Дорожный](http://dorozhnij.com/)

- `name` - название фильма
- `country` - страна производства
- `time` - продолжительность фильма, мин
- `ranking` - балл на Кинопоиске
- `type` - жанр
- `year` - год выпуска
- `director` - режиссер

In [25]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"
df = pd.read_csv(url)

df

                                                 name  ...       director
0                                             Невеста  ...  Билли Уайлдер
1                         Кто приходит в зимний вечер  ...  Билли Уайлдер
2                                 Моя мама Снегурочка  ...  Билли Уайлдер
3                                   Набережная Орфевр  ...  Билли Уайлдер
4                                              Лузер   ...  Билли Уайлдер
..                                                ...  ...            ...
145                                 Карнавальная ночь  ...            NaN
146                                          Квартира  ...            NaN
147                             Когда зажигаются елки  ...            NaN
148                           Кошмар перед Рождеством  ...            NaN
149  Красавица и чудовище: Чудесное Рождество (видео)  ...            NaN

[150 rows x 7 columns]

### Задания

Определите средний рейтинг фильмов, представленных в данных.

In [9]:
df.ranking.mean()

TypeError: ignored

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      150 non-null    object
 1   country   150 non-null    object
 2   time      150 non-null    int64
 3   ranking   150 non-null    object
 4   type      150 non-null    object
 5   year      150 non-null    int64
 6   director  108 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.3+ KB

In [0]:
##вместо запятой поставить точку

In [0]:
df.ranking = df.ranking.str.replace(',', '.')

In [13]:
df

                                                 name  ...       director
0                                             Невеста  ...  Билли Уайлдер
1                         Кто приходит в зимний вечер  ...  Билли Уайлдер
2                                 Моя мама Снегурочка  ...  Билли Уайлдер
3                                   Набережная Орфевр  ...  Билли Уайлдер
4                                              Лузер   ...  Билли Уайлдер
..                                                ...  ...            ...
145                                 Карнавальная ночь  ...            NaN
146                                          Квартира  ...            NaN
147                             Когда зажигаются елки  ...            NaN
148                           Кошмар перед Рождеством  ...            NaN
149  Красавица и чудовище: Чудесное Рождество (видео)  ...            NaN

[150 rows x 7 columns]

In [0]:
#теперь из строк перевести в числа

In [19]:
df.ranking = pd.to_numeric(df.ranking)
df.ranking.mean()

7.217393333333333

In [0]:
df.ranking = df.ranking.astype('float64')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      150 non-null    object
 1   country   150 non-null    object
 2   time      150 non-null    int64
 3   ranking   150 non-null    float64
 4   type      150 non-null    object
 5   year      150 non-null    int64
 6   director  108 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.3+ KB

In [0]:
df.ranking = df.ranking.apply(lambda x: float(x))

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      150 non-null    object
 1   country   150 non-null    object
 2   time      150 non-null    int64
 3   ranking   150 non-null    float64
 4   type      150 non-null    object
 5   year      150 non-null    int64
 6   director  108 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.3+ KB